/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline
}

  /* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section{
  display: block
}


body {
  line-height: 1
}
blockquote, q {
  quotes: none
}
blockquote:before, blockquote:after,
q:before, q:after{
  content: none
}


table{
  border-collapse: collapse;
  border-spacing: 0
}


/* custom */

a{
  -webkit-backface-visibility: hidden;
  text-decoration: none
}


li{
  list-style: none
}


body{
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: black;
  color: white;
}

header{
  background-color: #1a1b1d;
  height: 62px;
  padding: 0 120px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

footer{
  height: 150px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  background-color: #12b2fa;
}

#section1{
  position: relative;
  min-height: 832px;
}

#section2{
  position: relative;
  min-height: 928px;
}

#section2>.desc{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#sec2desc {
  margin-top: 70px;
  line-height: 50px;
}


#section3{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  min-height: 870px;
  text-align: center;
}

.ic_block_01,.ic_block_02 {
  width:330px;
  height:266px;
  margin:0 10px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}

.ic_block_01 img{
  margin-top:34px
}

.ic_block_02 img{
  margin-top:20px
}

.ic_block_01 .desc{
  margin-top:30px
}

.ic_block_02 .desc {
  margin-top:24px
}

.ic_block_01 {
  background: url(../img/ic_block_01.png) no-repeat;
  transition: box-shadow .5s ease;
}

.ic_block_02 {
  background: url(../img/ic_block_02.png) no-repeat;
  transition: box-shadow .5s ease;
}

#section3:hover .ic_block_01 {
  box-shadow: 0px -25px 50px -10px rgba(18, 215, 250, 0.4);
  transition: box-shadow .5s ease;
}

#section3:hover .ic_block_02 {
  box-shadow: 0px 20px 50px -10px rgba(18, 215, 250, 0.4);
  transition: box-shadow .5s ease;
}


#section4{
  display: flex;
  min-height: 1190px;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

#section4 .container{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#section5{
  min-height: 972px;
  text-align: center;
}

#ic_logo_01{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.ic_square{
   font-size: 64px;
   display: inline-block;
   height:102px;
   white-space: nowrap
 }
.ic_square::before {
  display: inline-block;
  vertical-align: middle;
  width: 32px;
  height: 102px;
  margin-right: 10px;
  background: url("../img/ic_squae_left.png") no-repeat;
  background-size: cover;
  content: ' '
}

.ic_square > * {
  vertical-align: middle;
}

.ic_square::after {
  display: inline-block;
  vertical-align: middle;
  width: 32px;
  height: 102px;
  margin-left: 10px;
  background: url("../img/ic_square_right.png") no-repeat;
  background-size: cover;
  content: ' '
}

.ic_circular {
  width:256px;
  height:256px;
  border-radius: 50%;
  background: url("../img/ic_circular.png") no-repeat;
  background-size: cover;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin: 0 12px;
  position: relative;
}

.ic_circular .name{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
}

.ic_circular .desc{
  position: absolute;
  top: 268px;
  left: 50%;
  transform: translate(-50%);
}

#show-all {
  width: 230px;
  height: 56px;
  line-height: 56px;
  vertical-align: middle;
  border: 1px solid #12b2fa;
  border-radius: 10px;
}

.address {
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
}

.left{
  width: 468px;
  margin-left:80px;
  margin-right:80px;
}

.right{
  width: 468px;
  margin-left:80px;
  margin-right:80px;
}

.card {
  text-align: left;
  font-size: 28px;
  margin-bottom: 60px;
}

.card .key{
  opacity: 0.5;
}

.card .key + .value{
  margin-top:23px;
  line-height: 1.4;
}

.mail-box{
  height: 86px;
  padding-left: 30px;
  padding-right: 30px ;
  background-color: #1e1e1e;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.mail-box input{
  flex: 1 1;
  padding: 0;
  background: transparent;
  border: 0;
  outline: 0;
  -webkit-appearance: none;
  color: white
}

.mail-box img{
  flex: 0 0 35px;
  align-self: center;
}

.qr-code {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}

.qr-container {
  border: 2px solid #12b2fa;
  width: 150px;
  height: 150px;
}

.qr-desc {
  margin-top:17px;
}


.t3 {
  font-size: 34px
}

.t4 {
  font-size: 28px
}

.t5 {
  font-size: 18px
}

.c1 {
  color:#12b2fa;
}
