input:focus {
  outline: none;
}

a{
  -webkit-backface-visibility: hidden;
  text-decoration: none
}

a:link {color: inherit} /* 未访问的链接 */
a:visited {color: inherit} /* 已访问的链接 */
a:hover {color: inherit} /* 当有鼠标悬停在链接上 */
a:active {color: inherit}


li{
  list-style: none
}


body{
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: black;
  color: white;
  font: 18px 'Helvetica Neue',Helvetica,Arial,'Microsoft Yahei','Hiragino Sans GB','Heiti SC','WenQuanYi Micro Hei',sans-serif;
}

header{
  background-color: #1a1b1d;
  height: 62px;
  padding: 0 6%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

footer{
  height: 150px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  background-color: #12b2fa;
}

#section1{
  position: relative;
  min-height: 832px;
}

#section2{
  position: relative;
  height: 928px;
}

#section2>.desc{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#sec2desc {
  margin-top: 70px;
  line-height: 50px;
}


#section3{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  min-height: 700px;
  text-align: center;
}

.flex_container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.ic_block_01,.ic_block_02 {
  width:330px;
  height:266px;
  margin:10px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}

.ic_block_01 img{
  margin-top:34px
}

.ic_block_02 img{
  margin-top:20px
}

.ic_block_01 .desc{
  margin-top:30px
}

.ic_block_02 .desc {
  margin-top:24px
}

.ic_block_01 {
  background: url('../img/ic_block_01.png') center center no-repeat;
  transition: box-shadow .5s ease;
}

.ic_block_02 {
  background: url('../img/ic_block_02.png') center center no-repeat;
  transition: box-shadow .5s ease;
}

#section3 .ic_block_01 {
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: glowing-shadow_01;
  animation-name: glowing-shadow_01;
}

#section3 .ic_block_02 {
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: glowing-shadow_02;
  animation-name: glowing-shadow_02;
}

@keyframes glowing-shadow_01 {
  from {
    box-shadow: 0 0 0 rgba(18, 215, 250, 0.1);
  }
  50% {
    box-shadow: 0 -20px 50px -10px rgba(18, 215, 250, 0.4);
  }
  to {
    box-shadow: 0 0 0 rgba(18, 215, 250, 0);
  }
}

@keyframes glowing-shadow_02 {
  from {
    box-shadow: 0 0 0 rgba(18, 215, 250, 0.1);
  }
  50% {
    box-shadow: 0 20px 50px -10px rgba(18, 215, 250, 0.4);
  }
  to {
    box-shadow: 0 0 0 rgba(18, 215, 250, 0);
  }
}

#section4{
  display: flex;
  min-height: 1190px;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

#section4 .container{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#section5{
  min-height: 972px;
  text-align: center;
}

#ic_logo_01{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.ic_square{
   font-size: 64px;
   display: inline-block;
   height:102px;
   white-space: nowrap
 }
.ic_square::before {
  display: inline-block;
  vertical-align: middle;
  width: 32px;
  height: 102px;
  margin-right: 10px;
  background: url("../img/ic_squae_left.png") no-repeat;
  background-size: cover;
  content: ' '
}

.ic_square > * {
  vertical-align: middle;
}

.ic_square::after {
  display: inline-block;
  vertical-align: middle;
  width: 32px;
  height: 102px;
  margin-left: 10px;
  background: url("../img/ic_square_right.png") center center no-repeat;
  background-size: cover;
  content: ' '
}

.ic_circular {
  width:256px;
  height:256px;
  border-radius: 50%;
  background: url("../img/ic_circular.png") center center  no-repeat;
  background-size: cover;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin: 12px;
  position: relative;
}

.ic_circular .name{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
}

.ic_circular .desc{
  position: absolute;
  top: 268px;
  left: 50%;
  transform: translate(-50%);
}

#show-all {
  display: inline-block;
  width: 230px;
  height: 56px;
  line-height: 56px;
  vertical-align: middle;
  border: 1px solid #12b2fa;
  border-radius: 10px;
}

.address {
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
}

.left{
  width: 468px;
  margin-left:80px;
  margin-right:80px;
}

.right{
  width: 468px;
  margin-left:80px;
  margin-right:80px;
}

.card {
  text-align: left;
  font-size: 28px;
  margin-bottom: 60px;
}

.card .key{
  opacity: 0.5;
}

.card .key + .value{
  margin-top:23px;
  line-height: 1.4;
}

.mail-box{
  height: 86px;
  padding-left: 30px;
  padding-right: 30px ;
  background-color: #1e1e1e;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.mail-box input[type="email"]{
  flex: 1 1;
  padding: 0;
  background: transparent;
  border: 0;
  outline: 0;
  -webkit-appearance: none;
  color: white
}

.mail-box input[type="image"]{
  flex: 0 0 35px;
  align-self: center;
}

.qr-code {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}

.qr-container {
  border: 2px solid #12b2fa;
  width: 150px;
  height: 150px;
}

.qr-desc {
  margin-top:17px;
}

.t1 {
  font-size: 64px
}

.t2 {
  font-size: 40px
}

.t3 {
  font-size: 34px
}

.t4 {
  font-size: 28px
}

.t5 {
  font-size: 18px
}

.c1 {
  color:#12b2fa;
}

#modal {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 100%;
  background-color: rgba(18, 178, 250, 0.8);
  text-align: left;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  transition: bottom ease 0.3s;
}

#modal.open {
  bottom: 0;
}
